html {
  font-size: 100%
}



body{
  background-color: #F7DC6F;
}

p {
  font-size: 16px;
  color: #FEF9E7;
  font-family: 'Open Sans Condensed', sans-serif, "Times New Roman";
  font-weight: normal;
  padding-left: 5px;
}

h1 {
    color: #C0392B;
    font-family: "Amatic SC", "Times New Roman", Georgia;
    font-size:80px;
    text-align: center;
    padding-left: 5px;
    padding-top: 50px;
    line-height: 10px;

}

.p1 {
  color: #E74C3C;
  font-family: 'Open Sans Condensed', sans-serif, "Times New Roman";
  font-style: italic;
  text-align: center;
  padding-left: 5px;
  font-size: 25px;
  font-weight: normal;
  line-height: 3px;
}

.p2 {
  font-size: 16px;
  color: #FEF9E7;
  font-family: 'Open Sans Condensed', sans-serif, "Times New Roman";
  font-style: italic;
  font-weight: normal;
  padding-left: 5px;
}

#container{
    width: 90%;
    background-color: #FEF9E7;
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
}

#nav {
    padding: 0;
}

#nav li {
    list-style-type: none;
    float: left;
    padding: 0;
    width: 25%;
    height: 20%;
}

#nav a:link, a:visited {
	  display:block;
    color: #FEF9E7;
    background-color: #C0392B;
    font-family: 'Open Sans Condensed', sans-serif, "Times New Roman";
    font-weight: lighter;
    font-size: 23px;
    text-align:center;
    text-decoration: none;
    padding: 10px;

}

#nav a:hover, a:active {
  background-color: #7a991a;
}

#nav {
    padding: 0;
    width:90%;
    margin-right:5%;
    margin-left: 5%;
}

img {
  border-style: none;
  margin-bottom: 2%
}

img.displayed {
    display: block;
}

a:hover, a:active img{
 opacity: 0.7;
 background-color: transparent;
}

#container1{
  width: 90%;
  background-color: #2D4074;
  text-align: center;
  margin: 0 auto;
  padding-top: 1px;
  padding-bottom: 1px;
}

#container1 a:link, a:visited {
  color:#FEF9E7;
  text-decoration: none;
}

#nav2 {
    padding: 0;
    width:90%;
    margin-right:5%;
    margin-left: 5%;
}


#nav2 li {
    list-style-type: none;
    float: left;
    width: 33.3%;
    height: 10%;
}

#nav2 a:link, a:visited {
    display:block;
    color: #FEF9E7;
    background-color: #C0392B;
    font-family: 'Open Sans Condensed', sans-serif, "Times New Roman";
    font-weight: lighter;
    font-size: 18px;
    text-align:center;
    text-decoration: none;
    padding: 10px;
}

#nav2 a:hover, a:active {
  background-color: #7a991a;
}
