body{
  background-color: #F7DC6F;
}

p {
  font-size: 16px;
  color: #FEF9E7;
  font-family: "Times New Roman", Arial, sans-serif;
  font-weight: normal;
  padding-left: 5px;
}

h1 {
    color: #C0392B;
    font-family: "Times New Roman", Georgia, serif;
    text-align: center;
    padding-left: 5px;
    padding-top: 20px;

}

h2 {
  color: #E74C3C;
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
  padding-left: 5px;
  font-size: 16px;
  font-weight: normal;
}


#container{
    width: 90%;
    background-color: #FEF9E7;
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
}

#nav {
    padding: 0;
}

#nav li {
    list-style-type: none;
    float: left;
    padding: 0;
    width: 25%;
    height: 10%;
}

#nav a:link, a:visited {
	  display:block;
    color: #FEF9E7;
    background-color: #C0392B;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 5px;
    font-family: "Times New Roman", Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #7a991a;
}

#nav {
    padding: 0;
    width:90%;
    margin-right:5%;
    margin-left: 5%;
}

img {
  border-style: none;
  margin-bottom: 2%
}

img.displayed {
    display: block;

}


#container1{
  width: 90%;
  background-color: #C0392B;
  text-align: center;
  margin: 0 auto;
  padding-top: 1px;
}
