p {
  font-size: 16px;
  color: #F7DC6F;
  font-family: "Times New Roman", Arial, sans-serif;
  font-weight: normal;
  padding-left: 5px;

}



h1 {
    color: #C0392B;
    font-family: "Times New Roman", Georgia, serif;
    padding-left: 5px;
    padding-top: 20px;

}

h2 {
  color: #E74C3C;
  font-family: "Times New Roman", Georgia, serif;
  padding-left: 5px;
  font-size: 16px;
  font-weight: normal;
}


body{
  background-color: #F7DC6F;
}

#container{
    width: 90%;
    height:100%;
    background-color: #FEF9E7;
    margin: 0 auto;
    padding-top: 0;
}

#nav {
    padding: 0;
}

#nav li {
    list-style-type: none;
    float: left;
    padding: 0;
    width: 25%;
    height: 10%;
}

#nav a:link, a:visited {
	  display:block;
    color: #F7DC6F;
    background-color: #C0392B;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 5px;
    font-family: "Times New Roman", Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #7a991a;
}


img {
  border-style: none;
  border-color: transparent;
  padding-left: 5px;
}
